body{
background-color: #464646;
color: #ffffff;
font-family: Quicksand;
font-size: 20px;

margin-top: 0%;
margin-bottom: 30%;
margin-right: 15%;
margin-left: 15%;
}

a{
color: #5CAEFF;
}

strong{
color: #955656;
}

code{
font-family: Monospace;
background-color: #303030;
}

pre{
padding: 10px;
border: 1px solid black;
border-radius: 5px;
margin-bottom: 5px;
background-color: #303030;
}


