nav ul {
margin: 0;
padding: 0;
list-style-type: none;
box-sizing: border-box;
}

nav {
text-align: center;
}

.menu {
display: inline-block;
font-family: monospace;
font-size: 24px;
}

.menu > li {
float: left;
color: white;
width: 140px;
height: 40px;
line-height: 40px;
background: #303030;
cursor: pointer;
font-size: 18px;
}

.menu_bis {
transform: scale(0);
transform-origin: top center;
}

.menu_bis li {
font-size: 18px;
background: #303030;
padding: 8px 0;
color: white;
border-bottom: black;
transform: scale(1);
transform-origin: top center;
}

.menu_bis li:last-child {
border-bottom: 0;
}

.menu_bis li:hover {
background: #101010;
}
.menu li:hover .menu_bis li {
transform: scale(1);
}

.menu li:hover .menu_bis {
transform: scale(1);
}

