/* CSS Menu*/
#menu_blason{
	display: flex;
}

#menu_blason_nom_RT{
	font: 80px Quicksand;
}

#menu_blason_nom_esp{
	font: 60px Quicksand;
}

#menu_blason_nom_Compendium{
	font: 25px NovaMono;
}

#menu_blason_logo{
	width:100px;
	height:100px;
	padding: 30px;
}

#menu_nav {
	font: 20px Hermit;
	background-color: #303030;

	border: 1px solid white;
	border-radius: 8px;
	padding: .5em;

	cursor: pointer;
}

#menu_nav ul{
	list-style: none;
}

#menu_nav ul ul{
	border-left: 2px solid white;
	border-color: #bd33a4;
}

/*
summary {}
details[open] {}
details[open] summary {}
*/
