#page{
font-family: Quicksand;
font-size: 20px;

margin-top: 0%;
margin-bottom: 30%;
margin-right: 15%;
margin-left: 15%;
}

#page a{
color: #ffbf00;
}

#page strong{
color: #e32636;
}

#page em{
color: #ffbf00;
}

#page code{
font-family: Hermit;
background-color: #303030;
font-size: 18px;
}

#page pre{
padding: 10px;
border: 1px solid black;
border-radius: 5px;
margin-bottom: 5px;
background-color: #303030;
}

li::marker {
color: #ffbf00;
}

#page h1{
color:  #bd33a4;
}
#page h2{
color:  #ca5cb6;
}
#page h3{
color:  #EDB3FF;
}
